*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: radial-gradient(#e9e2e2, #68686d);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock {
    width: 600px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    /* background-image: url("../images/blank\ clock.jpg"); */
}

.clock .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    transform: rotate(var(--rotation));
}

.clock .number1 {
    --rotation: 30deg;
}

.clock .number2 {
    --rotation: 60deg;
}

.clock .number3 {
    --rotation: 90deg;
}

.clock .number4 {
    --rotation: 120deg;
}

.clock .number5 {
    --rotation: 150deg;
}

.clock .number6 {
    --rotation: 180deg;
}

.clock .number7 {
    --rotation: 210deg;
}

.clock .number8 {
    --rotation: 240deg;
}

.clock .number9 {
    --rotation: 270deg;
}

.clock .number10 {
    --rotation: 300deg;
}

.clock .number11 {
    --rotation: 330deg;
}

.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 1px solod white;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: black;
    z-index: 10;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
}

.clock::after {
    content: "";
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    border: 2px solid whitesmoke;
    transform: translate(-50%, -50%);
}

.clock .hand.second {
    width: 3px;
    height: 45%;
    background-color: red;
}

.clock .hand.minute {
    width: 7px;
    height: 40%;
    background-color: black;
}

.clock .hand.hour {
    width: 7px;
    height: 30%;
    background-color: black;
}